    /*Globales*/
  
  :root {
    --primario: #71ffe7;
    --secundario: #185c8a;
    --blanco: #ecf8f7;
    --negros: #000000;
    --medios: #171717;
  }
  
  html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden; /* para evitar scroll lateral */
  }
  
  body {
    font-family: Arial, sans-serif;
    color: var(--blanco);
    font-size: 1rem;
    background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), var(--medios), var(--negros));
    transition: background 0.1s ease; 
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  header {
    width: 100%;
    padding: 1.5rem 0;

  }

  main {
    padding: 2rem;
    padding-bottom: 5rem;
    
  }
  
  footer {
    background-color: black;
    color: var(--blanco);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  .logo {
    color: var(--primario);
  }

  .logo svg {
    width: 200px;
    height: auto;
    display: block;
  }

/*Inicio*/
  
  .contenedor-header {
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo h1 {
    margin: 0;
  }

  .navegacion {
    display: flex;
    gap: 2rem;
  }

  .navegacion__enlace {
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .navegacion__enlace:hover {
    color: var(--primario)
  } 

  .navegacion__enlace:active {
  color: var(--secundario);
  }

  .navegacion__enlace:focus {
  outline: none;
  }

  /* Contacto ---------------------------*/

  .contacto-wrapper {
  display: flex;
  justify-content: center;
  }

  .contacto-bg {
    width: 100%;
    max-width: 720px;
    padding: 3vh;
    background-color: var(--medios);
  }

  .campo {
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
    flex-direction: column;  
  }

  .campo__field {
    width: 100%;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border: none;
    background-color: var(--negros);
    color: var(--blanco);
  }

  .campo__field--textarea {
      height: 10rem;
      resize: none;
  }