    /*Globales*/
  
  :root {
    --primario: #0c9c84;
    --secundario: #185c8a;
    --blanco: #f8f7ec;
    --negros: #32394d;
    --medios: #787a6d;
  }  
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--negros);
    color: var(--blanco);
    font-size: 1rem;

  }

  *, *:before, *:after {
    box-sizing: inherit;

}
  
  header {
    width: 100%;
    padding: 1.5rem 0;

  }

  main {
    padding: 2rem;
    padding-bottom: 5rem;
    
  }
  
  footer {
    background-color: black;
    color: var(--blanco);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  .logo {
    color: var(--primario);
  }

  .logo svg {
    width: 200px;
    height: auto;
    display: block;
  }

/*Inicio*/
  
  .contenedor-header {
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo h1 {
    margin: 0;
  }

  .navegacion {
    display: flex;
    gap: 2rem;
  }

  .navegacion__enlace {
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .navegacion__enlace:hover {
    color: var(--primario)
  } 

  .navegacion__enlace:active {
  color: var(--secundario);
  }

  .navegacion__enlace:focus {
  outline: none;
  }

  /* Contacto ---------------------------*/

  .contacto-wrapper {
  display: flex;
  justify-content: center;
}

  .contacto-bg {
    width: 100%;
    max-width: 720px;
    background-color: var(--secundario);
    padding: 5rem;
  }

  .campo {
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
    flex-direction: column;  
  }

  .campo__field {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: var(--negros);
    color: var(--blanco);
  }

  .campo__field--textarea {
      height: 10rem;
      resize: none;
  }