<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koud - Comunicación Visual</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>

      <header>
        <div class="contenedor-header">
          <a class="logo" href="index.html">
            <h1>Koud</h1>
          </a>
          <nav class="navegacion">
            <a href="{{ url_for('index') }}" class="navegacion__enlace">Inicio</a>
            <a href="{{ url_for('contact') }}" class="navegacion__enlace">Contacto</a>
          </nav>
        </div>
      </header>
    
      <main>
        <section>
          <h2>Diseñador visual & proyectos creativos con tecnología</h2>
          <h3>Servicios</h3>
          <p>Aquí describiré los servicios que ofrezco.</p>
        </section>
    
        <section>
          <h3>Contacto</h3>
          <p>Formulario pronto disponible.</p>
        </section>
      </main>
    
      <footer>
        <p>&copy; 2025 - Koud diseño</p>
      </footer>

</body>
</html>
